<h1>Editing Micropost</h1>

<%= render 'form' %>

<div class="show">
  <%= render 'micpost' %>

  <%= link_to 'Back', microposts_path, :class => "btn btn-default" %>

  <%= link_to 'Show', @micropost, :class => "btn btn-primary"   %>
</div>
